.hero-container{
    background: red;
    padding: 20px;
    width: 100%;
    height: calc(100vh - 72px);
    padding: 20px;
}

.h-social-nets{
    position: absolute;
    top: 50%;
    right: 20px;
    translate: 0 -50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.h-social-nets li{
    display: flex;
}

.h-social-nets li a{
    display: flex;
}

.h-social-nets li a i{
    font-size: 24px;
    color: var(--text);
}
