header{
    display: flex;
    width: 100%;
    padding: 0 20px;
    height: auto;
}

.header{
    width: 100%;
    max-width: var(--mx-w-content);
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left,
.header-right{
    width: auto;
    height: 100%;
    display: flex;
}

.header-left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.header-logo{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo-text{
    font-weight: bold;
    color: var(--black);
    font-size: 36px;
}

body.theme-dark .header-logo-text{
    color: var(--white);
}

.menu-container{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.menu-link h2{
    color: var(--text);
}

.theme-button{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    position: relative;
}

.theme-button::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    translate: 0 -50%;
    background: var(--component);
    display: flex;
    width: 100%;
    height: 4px;

    z-index: 0;
}

.theme-button-tag{
    width: 20px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    display: flex;
    border: 2px solid var(--component);
    background: var(--body);
    z-index: 1;
    cursor: pointer;
    position: relative;
    transition: var(--t-200ms-linear);
}

.theme-button-tag.active{
    background: var(--component)
}

.theme-button-tag::before{
    content: '';
    position: absolute;
    left: 50%;
    top: calc(100% + 3px);
    translate: -50% 0;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    display: flex;
    width: 10px;
    height: 6px;
    background: var(--component);

    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.theme-button-tag:hover::before{
    opacity: 1;
}

.theme-button-tag::after{
    position: absolute;
    left: 50%;
    top: calc(100% + 9px);
    translate: -50% 0;
    background: var(--component);
    transition: var(--t-200ms-linear);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding: 3px 0;
    border-radius: 3px;

    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.theme-button-tag:hover::after{
    opacity: 1;
}

.theme-button-light::after{
    content: 'Ligth';
    width: 44px;
}

.theme-button-gray::after{
    content: 'Gray';
    width: 40px;
}

.theme-button-dark::after{
    content: 'Dark';
    width: 42px;
}
