header{
    display: flex;
    width: 100%;
    height: 64px;
    padding: 0 20px;
}

.header{
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo-text{
    color: var(--black);
    font-size: 30px;
}

.header-center{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.header-center li{
    position: relative;
}

.header-center-sub-menu-container{
    position: absolute;
    left: 0;
    top: calc(100% + 10px);
    background: var(--body);
    padding: 20px 10px;
    border: 1px solid var(--black);
    width: 400px;
    border-radius: 6px;

    z-index: 10;
}

.header-center-sub-menu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.header-center-sub-menu > div span,
.header-center-sub-menu > div p{
    color: #666;
}

.header-center-sub-menu-tag-title{
    /* margin-bottom: 20px; */
    font-weight: bold;
}

.header-center-sub-menu-tag ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header-center-sub-menu-tag ul li{
    display: flex;
    width: 100%;
}

.header-center-sub-menu-tag ul li a{
    width: 100%;
    display: flex;
    position: relative;
    transition: var(--t-200ms-linear);
}

.header-center-sub-menu-tag ul li a:hover{
    padding-left: 10px;
}

.header-center-sub-menu-tag ul li a::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    translate: 0 -50%;
    display: flex;
    width: 6px;
    height: 2px;
    background: #444;
    border-radius: 10px;
    transition: var(--t-200ms-linear);

    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.header-center-sub-menu-tag ul li a:hover::before{
    opacity: 1;
    pointer-events: unset;
    user-select: unset;
}

.header-center-sub-menu-tag ul li a p{
    color: var(--text);
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.hc-button,
.menu-link{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hc-button span,
.menu-link span{
    font-size: 22px;
    color: var(--text);
}

.hc-button::before{
    content: '';
    position: absolute;
    right: 0;
    top: calc(100% + 2px);
    display: flex;
    width: 20px;
    height: 8px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: var(--black);
}

.menu-link h2{
    color: var(--text);
}

.header-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.menu-button{
    width: auto;
    padding-left: 4px;
    padding-right: 8px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--black);
    border-radius: 3px;
    gap: 5px;
}

.menu-button-bars{
    display: flex;
    width: 34px;
    height: 100%;

    position: relative;
}

.menu-button-bars::before,
.menu-button-bars::after{
    content: '';
    position: absolute;
    left: 50%;
    translate: -50% 0;
    background: var(--black);
    transition: var(--t-200ms-linear);
    display: flex;
    width: 26px;
    border-radius: 4px;
    height: 3px;

    z-index: 1;
}

.menu-button-bars::before{
    top: 13px;
}

.menu-button-bars::after{
    bottom: 13px;
}

.menu-button:hover .menu-button-bars::before,
.menu-button:hover .menu-button-bars::after{
    top: 50%;
    translate: -50% -50%;
    width: 22px;
    height: 2px;
}

.menu-button:hover .menu-button-bars::before{
    rotate: 45deg;
}

.menu-button:hover .menu-button-bars::after{
    rotate: -45deg;
}

.menu-button::after{
    content: 'Menú';
}
