header{
    display: flex;
    width: 100%;
    padding: 0 20px;
    height: auto;
}

.header{
    margin: auto;
    width: 100%;
    max-width: var(--mx-w-content);
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left,
.header-right{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.header-logo{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo-text{
    /* font-weight: bold; */
    color: var(--black);
    font-size: 32px;
}

body.theme-dark .header-logo-text{
    color: var(--white);
}

.menu-container{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.menu-link h2{
    color: var(--text);
}

.theme-button{
    display: flex;
    width: 46px;
    aspect-ratio: 1/1;
    position: relative;
    border: 1px solid var(--component);
    border-radius: 100%;
}

.theme-button span{
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    color: var(--text);
    transition: var(--t-200ms-linear);
    font-size: 26px;
}

.theme-button span:nth-child(2){
    scale: 0;
}

.theme-button.active span:nth-child(1){
    scale: 0;
}

.theme-button.active span:nth-child(2){
    scale: 1;
}

@media screen and (max-width: 600px){
    .menu-container{
        display: none;
    }
}
